<!-- Begin Portfolio -->
<section id="section2" class="portfolio clearfix">

	<!-- Title -->
	<div class="content container">
		<div class="title grid-full">
			<h2 id="releaseHeader">Dead Light</h2>
			<span class="border"></span>
		</div>
	</div>
	
	<div id="releaseShowWrapper" style="display:none;">
	
		<div class="closeRelease grid-full">
			<a data-remote="true" href="#" id="removeRelease"><i class="icon-remove"></i></a>               
		</div>
		<div class="ajax-content clearfix"></div>
	
		<div id="releaseShowContent">
		</div>
	
	</div>

	<!-- Thumbnails -->
	<ul id="portfolio-grid" class="projectlist clearfix">
		<% @releases.each do |r| %>
			<li class="project">
				<input type="hidden" value=<%= r.id %> class="modal-object-id">
				<%= link_to '#', :remote => 'true', :class => 'releaseClick' do %>
					<%= image_tag r.packshot.url(:medium, :alt => "thumbnail") %>
					<div class="projectinfo">
						<div class="meta">
							<h4><%= r.artist %></h4>
						</div>
					</div>
				<% end %>
			</li>
		<% end %>
	</ul>
	
	<div id="owl" class="owl-carousel owl-theme">

		<div id="openBtn2" class="item"><%= image_tag('2.jpg') %></div>
		<div id="openBtn3" class="item"><%= image_tag('3.jpg') %></div>
		<div id="openBtn4" class="item"><%= image_tag('4.jpg') %></div>
		<div id="openBtn5" class="item"><%= image_tag('5.jpg') %></div>
		<div id="openBtn6" class="item"><%= image_tag('6.jpg') %></div>
		<div id="openBtn7" class="item"><%= image_tag('7.jpg') %></div>

	</div>
	
	<div class="modal fade" id="imagemodal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">              
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
	        <%= image_tag('2.jpg') %>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="imagemodal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">              
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
	        <%= image_tag('3.jpg') %>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="imagemodal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">              
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
	        <%= image_tag('4.jpg') %>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="imagemodal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">              
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
	        <%= image_tag('5.jpg') %>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="imagemodal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">              
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
	        <%= image_tag('6.jpg') %>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="imagemodal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">              
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
	        <%= image_tag('7.jpg') %>
	      </div>
	    </div>
	  </div>
	</div>


</section>
<!-- End Portfolio -->