<div class="top-margin sm-0 md-0">&nbsp;</div>
<section id="dynamic_content" class="fading">
	<!-- tracklisting & pack shot -->
	<div class="band pad-bottom fading" id="section_tracklist" data-releaseid="02">
		<div class="row release-row">
			<!-- desktop-only content -->
			<div class="desktop-content">
				<% @all_releases.each do |release| %>
					<div class="container">
						<div class="lg-6">
							<%= image_tag(release.packshot) %>
							<div class="bg-faint release-block bg-custom cl-custom">
								<div class="sm-12 lg-9 release-info mobile-thin-padding">
									<div class="release-headline">
										<h2 class="release-title large"><%= release.title %></h2>
									</div>
									<div class="tracklisting">
										<div class="cat-number"><%= release.artist %></div>
										<%= raw(release.tracklist) %>
										<br/><br/><br/>
										<a class="button" href="<%= release.buylink1 %>"target="_blank"><%= release.vendor1 %></a>
										<a class="button" href="<%= release.buylink2 %>"target="_blank"><%= release.vendor2 %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<!-- mobile-only content -->
			<div class="mobile-content">
				<% @all_releases.each do |release| %>
					<div class="mobile-container">
						<div class="sm-12 md-12 lg-0 xl-0 bg-custom overflow-hidden mobile-content">
							<%= image_tag(release.packshot) %>
							<div class="bg-faint release-block bg-custom cl-custom mobile-content">
								<!-- title / tracklisting -->
								<div class="sm-1">&nbsp;</div>
								<div class="sm-8 lg-5 release-info mobile-thin-padding">
									<div class="release-headline pad-space-top">
										<h2 class="release-title large"><%= release.title %></h2>
									</div>
									<div class="tracklisting">
										<div class="cat-number"><%= release.artist %></div>
										<%= raw(release.tracklist) %>
										<br/><br/><br/>
										<a class="button" href="<%= release.buylink1 %>"target="_blank"><%= release.vendor1 %></a>
										<a class="button" href="<%= release.buylink2 %>"target="_blank"><%= release.vendor2 %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<section id="dynamic_content" class="fading">
		<div class="lg-12 band pad-bottom fading">
			<div class="row release-row" id="videoWrapper">
				<% unless @release.url.blank? %>
					<iframe src="https://player.vimeo.com/video/<%= @release.url %>" 
						width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
					</iframe>
				<% end %>
			</div>
		</div>
	</section>
</section>